[Unit]
Description=Daemon for counting read/write data to HDD per interval
After=syslog.target

[Service]
ExecStart=/usr/bin/rwdisk_stat -i 1 -d /dev/sda pgsql.cfg -D
Type=forking

[Install]
WantedBy=multi-user.target
